@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.zilla-slab-light-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: italic;
}

/*-- fonts are above ------------------------------------------*/

:root {
    --prime-col: #f7e6df;       /*   var(--prime-col)        */
    --prime-sup-col:#4f2f35;    /*   var(--prime-sup-col)    */
    --second-col: #d0af88;      /*   var(--second-col)       */
    --second-sup-col: #b2957e;  /*   var(--second-sup-col)   */
    --style1-col: #8b1d19;      /*   var(--style1-col)       */
    --style2-col: #11111d;      /*   var(--style2-col)       */

               font-size: 16px;
    --font-zilla: "Zilla Slab";   /*   var(--font-zilla)       */
    --font-sacra: "Sacramento";   /*   var(--font-sacra)       */
}

* {
    font-family: var(--font-zilla);

    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {font-family: var(--font-sacra);}

#content {
    min-width: 470px;
    margin: 5px;
    margin: 0 auto;
    background-color: var(--prime-col);
}

li::marker {
    content: "";
}
.active::before {
    content: "➕";
}

/* ---------above is genral css--------- */
/* ------------------------------------- */
            
header div {display: grid;                                /*header*/
            grid-template-columns: auto 1fr;          
            align-content: center;
            justify-content: center;
           }
header div img {
            border: solid var(--style2-col);              
            height: auto;                                 /*header*/ 
            width: 100%;                                  /*header*/ 
           }
header div h1 {
            grid-column: 2/3;
            text-align: center;
            margin:inherit;
            align-content: center;

    background-color: var(--second-sup-col);
    border: 3px solid var(--style2-col);                           /*header*/ 
}

#navigation {                                            
    grid-column: 1/3;
    text-align: center;                                  /*navigation*/
    align-content: center;                               /*navigation*/
    border: solid;
    font-size: 1.7rem;
         
}                             
#navigation li                      {clear: both; position: relative; top: -20px;}
#navigation li                      {margin: 2% 0px;}
#navigation li:hover:nth-child(odd) {background-color: #8b1d19df; /**/ color: var(--prime-col);}
#navigation li:hover:nth-child(even){background-color: #1a1a2edf; /**/ color: var(--prime-col);}


#setings {            /*#the button's position*/       /*the button or Hamberger*/
    padding: 0 10px;     float: left;
    font-size: 1em;      margin: 10px;
    cursor: pointer;     z-index: 2;

    background-color: var(--style2-col);
    color: var(--prime-col);
}
#setings:hover {background-color: var(--prime-sup-col);}          /*the button or Hamberger*/
#buttons {                                             /*button list or Hamberger*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    
    background-color: var(--style1-col); /**/ border: solid;
}
#buttons button:hover {
    padding: 1px;
    border: 4px solid var(--second-sup-col);
    cursor: pointer;
}                                                      /*button list or Hamberger*/

/*This is the button's effects */                      /*TOGGLE  ---   Hamberger*/

#buttons {display: none;}                      /*.seting */
              
#buttons.seting      {display: grid;}
#setings.seting      {margin-top: 10px; /*BP*/ } 
#navigation.seting   {grid-column: 2/3;  /*AP*/ top: -30px;}
header div h1.seting {margin-top: 0;}

/*---------above is the all that is in the header--------*/
/*-------------------------------------------------------*/

footer {
    border: var(--style2-col) solid;
    border-radius: 5px;
    padding: 4px;
    background-color: var(--style1-col);
    color: var(--prime-col);
}                               
                                       
/*---------above is the all that is in the footer--------*/
/*-------------------------------------------------------*/

/* -- home main section ---------------------------------------------*/

#homeMain    {margin: 20px;}
#homeMain h1 {

    text-align: center;
    margin-top: -9px;
    margin-bottom: -1px;
    
    background-color: var(--second-col);
    
    border: 5px #11111d solid;
    border-radius: 20px;
}
#homeMain section {text-align: center;

    border: var(--style2-col) solid;
    border-radius: 20px;
}
#homeMain section p {margin: 20px;}
#homeMain .homeflex {

    display: flex;
    background-color: var(--second-sup-col);
    border-radius: 19px 19px 0 0px;
    align-items: center;
}
#homeMain .homeflex img {width: 100%; max-width: 150px;}

/*-- Discover main section --------------------------------------------*/

#discoverMain { 
    display: grid;
    grid-template-columns: 1fr;

    border: solid var(--style2-col);
    text-align: center;
}
#discoverMain p  {padding: 20px 0;}
#discoverMain h1 { margin: 0;
    
    background-color:var(--second-sup-col);
}
#greating {border: solid var(--style2-col);}

#sideBar {
    display: grid;

    justify-items: center;
    align-items: center;
    
    border: solid var(--style2-col);
    background-color: var(--prime-sup-col);
}
#sideBar img {
    width: 75%;
    height: auto;
    border: 4px solid var(--style2-col);
    margin-top: 10px;
    margin-bottom: 10px;
    animation: fade 13s;
}
@keyframes fade {
    0%     {opacity: 0;}
    100%   {opacity: 1;}
}

#find {
    border: solid var(--style2-col);
}
#find img {
    float: left;
    object-fit: cover;
    padding: 4px;
    
    border: 5px solid var(--prime-sup-col);
    background-color: var(--style2-col);
}
#upComing {
    border: solid var(--style2-col);
}

/* -- join section main ------------------------------------------ */

#formMain {
    border: 10px solid var(--style2-col);
    padding: 0px 20px;
}
#formMain form {    
    margin: 5px;
    color: var(--style2-col); 
    color: var(--prime-sup-col);
    font-size: 40px;
}
label {
    display: block;
    padding: .9rem;
}
input {
    display: block;
    border: solid var(--style2-col);
    width: 100%;
    max-width: 750px;
}
input[type="radio"] {
    display: inline;
    margin-left: -30%;
    height: 1em;
}
#rating input {
    display: block;
    width: 80%;
    max-width: 320px;
    
}
#radioDiv {
    margin-top: 40px;
}
#rating p {
    position: relative;
    right: -370px;
    top: -50px;
    font-size: 40px;
}
textarea {
    display: block;
    border: var(--style2-col) solid;
}
textarea:focus {border: 7px solid var(--style1-col);}

input:required {
    border-right: 8px solid red;
}
input:required:valid {
    border-right: 8px solid green;
}
input[type="submit"] {
    padding: 4px;
    width: 96%;
    max-width: 400px;
    
    background-color: var(--second-col);
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="submit"]:hover,
input[type="password"]:hover,
input[type="phone"]:hover,
textarea:hover {
    box-shadow: 1px 1px 1px 1px var(--prime-sup-col);
}


/* -- table area --*/
table, table tr, table tr th, table tr td {

    font-size: 44px;
    padding: 4px; 
    text-align: center;
    color: var(--style2-col);
}
table {
    border: 3px solid var(--style2-col); 
    background-color: var(--prime-sup-col);
}
table thead th {
    background-color: var(--second-col);
}

table tbody {
    background-color: beige;
}
table tbody tr td:nth-child(1) {background-color: var(--second-col) !important;}
table tbody tr:nth-child(odd)  {background-color: var(--second-sup-col) !important;}

/*--------- driectory main -------------------------------------*/

#discMain {
    border: 5px solid var(--style2-col);
}
#discButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 3px solid var(--prime-sup-col);
    font-size: 44px;
    background-color: var(--prime-sup-col);
}
#discButtons button {
    background-color: var(--second-col);
    border: 7px solid var(--style2-col);
    margin: 2px 20px;
}
#discButtons button:hover {
    color: var(--style1-col);
    padding: 4px;
}


#discMain section {
    margin: 3em;
    text-align: center;
    overflow: auto;
}
#discMain section:nth-child(even) {
    border: 5px solid var(--style1-col) !important;
}
#discMain section:nth-child(odd) {
border: 5px solid var(--style2-col);
}
#discMain img {
    float: left;
    width: 160px;
}

#discMain a {font-size: 22px;}
#discMain a:hover {font-size: 27px;}
