@media screen and (min-width: 900px) {
    
    #content {max-width: 1250px;}

    p {font-size: 2rem;}
    h1 {font-size: 4rem;}

    header div {
        display: grid;
        grid-template-columns: auto 20% 1fr 1fr;
    }
    header div img {grid-column: 1/3;}
    header div h1 {grid-column: 3/5;}
    #buttons {grid-column: 1/3; font-size: 2rem;}
    #navigation {grid-column: 1/5; font-size: 2rem;}

    #setings {
        padding: 0 10px;
        font-size: 2.5em;
        position: relative;
        bottom: 17rem;
        left: 2rem;
    
        background-color: #11111df9;
        color: #f7e6df;
    }

    /* hamberger*/

    #navigation.seting {
        grid-column: 3/5;
    }

    #setings.seting {
        bottom: 27rem;
        left: 19rem;
        font-size: 4em;
    }
}