#formMain {    
    font-size: 1.5rem; 
    border: 5px solid #4f2f35;

    /*background: linear-gradient(#d0af88, #8b1d19);*/
}
form {
    border: 5px solid #4f2f35;
    width: 100%;
}
label {
    display: block;
    padding: .9rem;
}
input {
    display: block;
}

